$containerWidthLg: 71.5%;
$containerWidthMd: 768px;
$containerWidthS: 480px;
$containerWidthXs: 320px;
$centering: 0 auto;
$firstFontColor: #fff;
$secondFontColor: #454545;
$additionalFontColor: #edbfff;
$headersFontSize: 30px;
$openSansLight: "OpenSans-Light";
$openSansExtraBold: "OpenSans-ExtraBold";
$leagueGothicFont: "LeagueGothic-Regular";